@import "https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap";
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0d0d0d;
  --primary: #7b2cbf;
  --primary-light: #7a2cbf0f;
  --primary-dark: #4a148c;
  --font-geist-sans: "Inter", sans-serif;
  --black-light: #666666;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0e0516;
    --foreground: #ededed;
    --black-light: #99a1af;
    --primary-light: #7a2cbf36;
  }
}

@theme inline {
  /* colors */
  --color-primary: var(--primary);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary-light: var(--primary-light);
  --color-primary-dark: var(--primary-dark);
  --color-black-light: var(--black-light);

  /* fonts */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Urbanist", sans-serif;
}

/* Optional: smooth scroll for anchor links */
html {
  scroll-behavior: smooth;
}
button {
  cursor: pointer;
}

/* Hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Infinite horizontal scroll animation */
@keyframes infinite-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* Utility class */
.animate-infinite-scroll {
  animation: infinite-scroll 25s linear infinite;
}
